<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>
        Антон Кузнецов - Python Django Developer 
    </title>
    <meta name="description" content="Антон Кузнецов is a Python, Django web developer."/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/glynjacksonorg/css/bootstrap.min.css" /><link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/glynjacksonorg/css/flexslider.css" /><link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/glynjacksonorg/css/designr-theme-cyan.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>
</head>

<body class="template-homepage" data-spy="scroll" data-target="#main-nav" data-offset="200">
    <div id="main-nav" class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand scrollto" title="Python & Django Developer" href="index.html#home">АНТОН КУЗНЕЦОВ</a>
            </div>
            <div id="site-nav" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="sr-only">
          <a href="index.html#home" class="scrollto" title="Manchester Freelance Developer">Home</a>
        </li>
        <li>
          <a href="index.html#services" class="scrollto" title="Django Freelance Developer">About me</a>
        </li>
        <li>
          <a href="index.html#about" class="scrollto" title="Python Freelance Developer">Start-ups</a>
        </li>
        <li>
          <a href="index.html#contact" class="scrollto" title="Hire Me for Your Django Project">Hire Me</a>
        </li>
          <li>
          <a href="weblog.html" title="Python and Django Blog">Blog</a>
        </li>
      </ul>
        </div>
    </div>
    </div>




<header id="home" class="jumbotron">
    <div class="container">
        <div class="message-box clearfix">
            <div class="left-col">
                <p>I <span>develop</span><br/>things to</p>
            </div>
            <div class="right-col flexslider home-slider">
                <ul class="slides">
                    <li>
                        <p>Design</p>
                    </li>
                    <li>
                        <p>Scale</p>
                    </li>
                    <li>
                        <p>Work</p>
                    </li>
                    <li>
                        <p>Inspire</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>


{% block content %}{% endblock content %}


<footer id="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 left-col">
                <h1 class="small-logo">АНТОН КУЗНЕЦОВ<br><span>Freelance Python & Django Engineer</span></h1>
                <ul class="footer-nav">
                    <li><a class="scrollto" href="index.html#home" title="Manchester Django Developer">Home</a></li>
                    <li><a class="scrollto" href="index.html#services" title="Manchester Python Developer">My Services</a></li>
                    <li><a class="scrollto" href="index.html#portfolio" title="Manchester Developer Portfolio">Portfolio</a></li>
                    <li><a class="scrollto" href="index.html#contact" title="Hire Me In Cheshire & Manchester for Django Development">Hire Me</a>
                    </li>
                    <li><a class="scrollto" href="weblog.html" title="Django, Python Blog">Blog</a>
                    </li>
                </ul>
                <p>&copy; Copyright 2017 Webovate Ltd.<br/> Cheshire, Manchester, Freelance Python, Django Developer</p>
            </div>
            <div class="col-sm-6 right-col">
                <a href="https://www.python.org" target="_blank" title="Python Website Link">
                    <img src="https://s3-eu-west-1.amazonaws.com/glynjacksonorg/assets/powered-by.jpg" alt="Django and Python Logo">
                </a>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/glynjacksonorg/js/glynjackson.js"></script>
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="https://s3-eu-west-1.amazonaws.com/glynjacksonorg/js/libs/jquery-1.8.2.min.js">\x3C/script>')</script>
<script src="https://s3-eu-west-1.amazonaws.com/glynjacksonorg/js/libs/bootstrap.min.js"></script>
<script src="https://s3-eu-west-1.amazonaws.com/glynjacksonorg/js/designr.js"></script>
<script src='https://s3-eu-west-1.amazonaws.com/glynjacksonorg/js/jquery.scrollto.js'></script>
<script src='https://s3-eu-west-1.amazonaws.com/glynjacksonorg/js/jquery.flexslider.min.js'></script>
<script src='https://s3-eu-west-1.amazonaws.com/glynjacksonorg/js/jquery.masonry.min.js'></script>
<script src="https://s3-eu-west-1.amazonaws.com/glynjacksonorg/js/waypoints.min.js"></script>
<script src='https://s3-eu-west-1.amazonaws.com/glynjacksonorg/js/twitterFetcher_v10_min.js'></script>
<script src="https://s3-eu-west-1.amazonaws.com/glynjacksonorg/js/jquery.easypiechart.js"></script>
<script src="https://s3-eu-west-1.amazonaws.com/glynjacksonorg/js/jquery.backstretch.min.js"></script>

</html>
